@import '_coolColors';

.login {
  position: absolute;
  display: none;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-20%);
  -ms-transform: translate(-50%,-20%);
  background-color: $blue;
  padding: 20px 40px;
  font-size: 20px;
  width: 700px;
  min-height: 70vh;
  border-radius: 10px;
  label {
    text-transform: capitalize;
  }
}

.login form {
  background-color: $white;
  margin-top: 50px;
  width: 100%;
  border-radius: 10px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  hr {
    width: 100%;
  }
  input {
    margin-top: 6px;
  }
  button {
    align-self: flex-end;
    border: 1px solid rgb(150, 150, 150);
    border-radius: inherit;
    background-color: $green;
    width: 80px;
    color: $black;
    padding: 6px;
    cursor: pointer;
    &:hover {
      color:$white;
      background-color: lightgreen;
    }
    }
}
.loginPassword {

  img {
  width: 25px;
  height: 25px;
  transform: translate(-5px,6px);
  margin-left: -25px;
  cursor: pointer;
  }
}
.login form p {
  align-self: flex-end;
  span {
    cursor: pointer;
    text-decoration: underline;
    color: $blue;
  }
}